@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 1rem;
}
.attribution > a {
  color: hsl(228, 45%, 44%);
}

html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Space Mono", monospace;
  background-color: hsl(185, 41%, 84%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body > img {
  margin-bottom: 3rem;
}

.main-container {
  background-color: hsl(189, 41%, 97%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  border-radius: 0.9rem;
  width: 750px;
  gap: 1.5rem;
}
.main-container > section {
  height: 100%;
}

@media (max-width: 768px) {
  body {
    justify-content: start;
  }
  body > img {
    margin-top: 3rem;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.container-input-tips {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  justify-content: start;
  align-content: start;
  margin-bottom: 1.5rem;
}
.container-buttons button {
  background-color: hsl(183, 100%, 15%);
  width: 100%;
  padding: 0.4rem 0;
  border-radius: 0.2rem;
  border: none;
  color: white;
  font-family: "Space Mono", monospace;
}
.container-buttons button:hover {
  background-color: hsl(172, 67%, 45%);
  cursor: pointer;
  color: hsl(183, 100%, 15%);
}
.container-buttons input {
  background-color: hsl(185, 41%, 84%);
  border: 2px solid hsl(185, 41%, 84%);
  box-shadow: none;
  width: 100%;
  border-radius: 0.2rem;
  color: hsl(183, 100%, 15%);
  font-weight: bolder;
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 1rem;
}
.container-buttons input::-moz-placeholder {
  color: hsl(184, 14%, 56%);
}
.container-buttons input::placeholder {
  color: hsl(184, 14%, 56%);
}
.container-buttons input:hover, .container-buttons input:focus-visible {
  cursor: pointer;
  border: solid 2px hsl(172, 67%, 45%);
}

.paragraph {
  color: hsl(183, 100%, 15%);
  margin-bottom: 0.6rem;
  font-size: 0.8rem;
}

.error {
  color: red;
  display: none;
}

.input-icon {
  position: relative;
  width: 100%;
  font-family: "Space Mono", monospace;
  margin-bottom: 1.5rem;
}
.input-icon > img {
  position: absolute;
  top: 0.6rem;
  left: 0.5rem;
}
.input-icon > input {
  width: 100%;
  background-color: hsl(185, 41%, 84%);
  border: 2px solid hsl(185, 41%, 84%);
  box-shadow: none;
  width: 100%;
  border-radius: 0.2rem;
  color: hsl(183, 100%, 15%);
  font-weight: bolder;
  text-align: end;
  font-family: "Space Mono", monospace;
  padding: 0.4rem 0.4rem;
  font-size: 1rem;
}
.input-icon > input::-moz-placeholder {
  color: hsl(184, 14%, 56%);
}
.input-icon > input::placeholder {
  color: hsl(184, 14%, 56%);
}
.input-icon > input:hover, .input-icon > input:focus-visible {
  cursor: pointer;
  border: solid 2px hsl(172, 67%, 45%);
}

.numbP {
  display: flex;
  justify-content: space-between;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*Result*/
.result-container {
  background-color: hsl(183, 100%, 15%);
  width: 100%;
  height: 100%;
  padding: 2rem 1.5rem;
  border-radius: 0.8rem;
}

.tip-amount-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  margin-bottom: 2.2rem;
}
.tip-amount-container > div > p:first-child {
  color: white;
}
.tip-amount-container > div > p:last-child {
  color: hsl(186, 14%, 43%);
}

.amount-result-container {
  display: flex;
  color: hsl(172, 67%, 45%);
  font-size: 1rem;
}

.button-reset {
  background-color: hsl(184, 14%, 56%);
  width: 100%;
  padding: 0.4rem 0;
  border-radius: 0.2rem;
  border: none;
  color: hsl(183, 100%, 15%);
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
  font-weight: bolder;
  margin-top: 4.5rem;
}
.button-reset:hover {
  background-color: hsl(172, 67%, 45%);
  cursor: pointer;
  color: hsl(183, 100%, 15%);
}

@media (max-width: 768px) {
  .button-reset {
    margin-top: 1rem;
  }
}/*# sourceMappingURL=style.css.map */