@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

$strong-cyan:hsl(172, 67%, 45%);
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$very-light-grayish-cyan: hsl(189, 41%, 97%);

@mixin btn($background-color,$color){
    background-color:$background-color;
    width: 100%;
    padding:.4rem 0;
    border-radius: .2rem;
    border: none;
    color: $color;
    font-family: 'Space Mono', monospace;
    &:hover{
        background-color: $strong-cyan;
        cursor: pointer;
        color: $very-dark-cyan;
    }
}

@mixin inp($text-align){
    background-color: $light-grayish-cyan;
    border: 2px solid $light-grayish-cyan;
    box-shadow: none;    
    width: 100%;
    border-radius: .2rem;
    color: $very-dark-cyan;
    font-weight: bolder;
    text-align: $text-align;
    font-family: 'Space Mono', monospace;
    &::placeholder{
        color: $grayish-cyan;
    }
    &:hover,&:focus-visible{
        cursor: pointer;
        border: solid 2px $strong-cyan;
    }
    
}

@mixin inpIcon(){
    position: relative;
    width: 100%;
    font-family: 'Space Mono', monospace;
    > img{
        position: absolute;
        top: .6rem;
        left: .5rem;
    }

    > input{
        width: 100%;
        @include inp(end);
        padding: .4rem .4rem;
        font-size: 1rem;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution { 
    font-size: 11px; text-align: center; margin-top: 1rem; 
    & > a{
        color: hsl(228, 45%, 44%);
    }
}

html{
    width: 100%;
    height: 100%;
}

body{
    height: 100%;
    width: 100%;
    font-family: 'Space Mono', monospace;
    background-color: $light-grayish-cyan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > img{
        margin-bottom: 3rem;
    }
}

.main-container{
    background-color: $very-light-grayish-cyan;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    border-radius: .9rem;
    width: 750px;
    gap: 1.5rem;
    > section{
        height: 100%;
    }
    
}

@media(max-width:768px){
    body{
        justify-content: start;
        & > img{
            margin-top: 3rem;
        }
    }
    .main-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }   
}

.container-input-tips{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    justify-content: start;
    align-content: start;
    margin-bottom: 1.5rem;
    button{
        @include btn($very-dark-cyan,white);
    }
    input{
        @include inp(center);
        font-size: 1rem;
    }
}

.paragraph{
    color: $very-dark-cyan;
    margin-bottom: .6rem;
    font-size: .8rem;
}

.error{
    color: red;
    display: none
}

.input-icon{
    @include inpIcon();
    margin-bottom: 1.5rem;
}

.numbP{
    display: flex;
    justify-content: space-between;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/*Result*/

.result-container{
    background-color: $very-dark-cyan;
    width: 100%;
    height: 100%;
    padding:2rem 1.5rem;
    border-radius: .8rem;
}

.tip-amount-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
    margin-bottom: 2.2rem;
    > div{
        > p:first-child{
            color: white;
        }
        > p:last-child{
            color: $dark-grayish-cyan;
        }
    }
}

.amount-result-container{
    display: flex;
    color: $strong-cyan;
    font-size: 1rem;
}

.button-reset{
    @include btn($grayish-cyan,$very-dark-cyan);
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 4.5rem;
}

@media(max-width:768px){
    .button-reset{
        margin-top: 1rem;
    }
}